# Copyright (c) 2021 Anthony Amanse
# SPDX-License-Identifier: MIT

config BOARD_AMALGAMATE_LEFT
	bool "amalgamate_left"
	depends on SOC_NRF52840_QIAA

config BOARD_AMALGAMATE_RIGHT
	bool "amalgamate_right"
	depends on SOC_NRF52840_QIAA